// FOOTER
footer {
  background : #fff;
}
#menu-footer {
  padding : 0;
  margin : 0;

  @include flex(row, flex-start, center);

  .menu-item {
    margin-right : 1.6rem;
    font-family: 'Helvetica-Neue-Roman';
    font-feature-settings: 'case' 1;
  }
}
