// SERVICES
.services__container {

  .services__intro {
    @include flex(column, flex-start, flex-start);
    margin-bottom : 5rem;

    .services__title {
      font-size : var(--font-lg);
      margin-bottom : 2rem;
      font-family: 'Helvetica-Neue-Roman';
      font-feature-settings: 'case' 1;
    }

    .services__title--subtitle {
      font-size : var(--font-sm);
      color : var(--unico-gray);
      font-family: 'Helvetica-Neue-Roman';
    }
  }

  .services {
    @include flex(row, space-between, flex-start);
    flex-wrap : wrap;
  }
  
}

.service__item {
  width : 34.101rem;
  height : 20.8rem;
  border-radius : var(--radius-md);
  background : #fff;
  padding : 4.2rem 4rem 3.8rem 4rem;
  margin-bottom : 1rem;
  background-repeat: no-repeat;
  line-height: 1.25;

  @include flex(column, space-between, flex-start);

  .service__logo {
    font-size : 3rem;
  }

  .service__title {
    color : var(--unico-black);
    font-family: 'Helvetica-Neue-Roman';
    font-feature-settings: 'case' 1;
  }

  .logo__yellow {color : var(--unico-yellow)}
  .logo__red {color : var(--unico-red)}
  .logo__blue {color : var(--unico-blue)}
  .logo__purple {color : var(--unico-purple)}

  &:nth-child(1) {
    background-color: rgba(248, 167, 20, 0.1);
    background-image: url('../img/service-1.png');
  }

  &:nth-child(2) {
    background-color: rgba(249, 33, 98, 0.1);
    background-image: url('../img/service-2.png');
  }
  
  &:nth-child(3) {
    background-color: rgba(16, 91, 251, 0.1);
    background-image: url('../img/service-3.png');
  }

  &:nth-child(4) {
    background-color: rgba(142, 36, 249, 0.1);
    background-image: url('../img/service-4.png');
  }
}