@mixin flex($direction, $justify, $align) {
  display : flex;
  flex-direction : $direction;
  justify-content : $justify;
  align-items : $align;
}

:root {
  font-size : 10px;
  --unico-background : #fbfbfb;
  --unico-red : #ff0d56;
  --unico-blue : #105bfb;
  --unico-tomato : #ff8970;
  --unico-gray : #9f9f9f;
  --unico-green : #1cbf2f;
  --unico-yellow : #f8a714;
  --unico-dark : #737373;
  --unico-purple : #8e24f9;
  --unico-black : #171717;

  --font-xxl : 5.8rem;
  --font-xl : 3.2rem;
  --font-lg : 2.8rem;
  --font-md : 2.2rem;
  --font-normal : 1.6rem;
  --font-sm : 1.4rem;

  --radius-circle : 50%;
  --radius-lg : 3rem;
  --radius-md : 1.5rem;
  --radius-sm : 1.2rem;

  body {
    font-size : 1.6rem;
  }
}

@font-face {
  font-family : helvetica;
  src : url("../fonts/Helvetica-Neu-Bold.ttf");
}

* {
  outline : none !important;
  list-style : none !important;

  a {
    color : #000;

    &:hover {
      text-decoration : none;
      color : #000;
    }
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background : var(--unico-background);
}

p {
  font-family: 'Helvetica-Neue-Roman';
}

.unico-container {
  max-width : 144rem;
  padding : 0;
}

.unico-prioritet-low {
  position : relative;
  z-index : 0;
}

.unico-prioritet-normal {
  position : relative;
  z-index : 1;
}

.unico-prioritet-medium {
  position : relative;
  z-index : 5;
}

.unico-prioritet-hight {
  position : relative;
  z-index : 10;
}

section {
  margin : 0 !important;
  margin-bottom : 14rem !important;

  &:nth-child(2) {
    margin-bottom : 18rem;
  }
}

.unico-margin__section {
  margin-bottom : 16rem;
}

.unico-text__bold {
  font-family: 'Helvetica-Neue-Bold';
}

.unico-text__red {
  color : var(--unico-red);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//UNICO INPUT

.unico-input__container {
  @include flex(row, space-between, center);
  width: 42.5rem;
  height: 5.5rem;
  overflow: hidden;

  position: relative;

  border: .1 solid #dadada;
  border-radius: 5rem;
  margin-bottom: 2rem;
}

.unico-input__head {
  border-right: 1px solid #dadada;
  width: 6rem;
  height: 60%;

  @include flex(row, center, center);

  i {
    color: #dadada;
    font-size: 2.24rem;
    margin-left: .5rem;
  }
}

.cart-id__type {
  @include flex(row, flex-start, center);

  width: 100% !important;
  padding: 1.5rem 3rem;
  label {
    font-size: 1.6rem;
    margin: 0;
    cursor: pointer;
  }

  input {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 2rem;
  }
}

.cart-container__active {
  background: red;
}

.unico-input__body {
  position: relative;
  width: 76%;
  height: 100%;

  .unico-input {
    color: #223549;
    font-family: FiraGO-Medium;

    &:focus {
      + .unico-label {
        font-size: 1rem;
        top: .4rem;
        transform: translate(0, 0);
      }
    }
  }

  .unico-label {
    font-size: 1.4rem;
    font-family: FiraGO-Medium;
    color: #22354999;
    transition: 0.3s ease;
  }
  // INPUT-TEXT
  .unico-label__text {
    position: absolute;
    top: 50%;
    left: .4rem;
    transform: translate(0, -50%);
  }

  .unico-input__text {
    width: 100%;
    height: 100%;

    border: none;
  }
  // INPUT-RADIO
  .unico-label__radio {
    font-family: FiraGO-Medium;
    font-size: 1.6rem;
    color: #223549;
    margin: 0;
  }

  .unico-input__radio {
    width: 1.7rem;
    height: 1.7rem;
    margin: 0 3.5rem;
  }
}

//BODY ACTIVE
.input-body__active {
  background: var(--unico-blue);

  .unico-label__radio {
    color: #fff;
  }
}

.unico-input__footer {
  width: 6rem;
  height: 100%;

  @include flex(row, center, center);

  .input__link {
    i {
      font-size: 2.24rem;
      color: var(--unico-blue);
    }
  }
}


// COMMENTS
.unico-comment__container {
  @include flex(column , flex-start, flex-start);
  width : 100%;
  padding : 0 20%;

  .user__title {
    font-family : FiraGO-Medium;
    font-size : 1.5rem;
  }

  .comment-form-rating {
    .stars {
      margin-bottom : 0;
      a {
        color : #FD8970;
      }
    }
  }

  .unico-input__container {
    width : 100%;
    border: .1rem solid #F2F3F5;

    .unico-input__body {
      @include flex(row, flex-start, center);
      span {
        @include flex(row, flex-start, center);
        font-size: 1.3rem;
      }
    }
  }
  
  .comment-respond {
    width : 100%;
  }
  
  .comment-form-comment {
    textarea {
      width : 100%;
      height : 15rem;
      border : .1rem solid #F2F3F5;
      border-radius : 2rem;
      padding : 1.5rem 1rem;
      font-family : FiraGO-Medium;
      font-size : 1.3rem;
      color : #000;
    }
  }

  .comment-form-attachment {
    display : none;
  }

  .upload-image__container {
    cursor : pointer;
    transition : .3s ease;

    @include flex(row, flex-start, center);

    &:hover {
      color : var(--unico-blue);
    }

    i {
      font-size : 2.5rem;
      margin-right : 1rem;
    }

    span {
      font-family : FiraGO-Medium;
      font-size : 1.3rem;
    }
  }
}

// SUBMIT
#submit {
  width : 100% !important;
  background-color : var(--unico-blue) !important;
  color : #fff !important;
  border : 1px solid transparent !important;
  transition : .3s ease;

  &:hover {
    background-color : #fff !important;
    color : var(--unico-blue) !important;
    border-color : var(--unico-blue) !important;
  }
}

.unico-button {
  width: 100%;
  height: 5.5rem;
  font-family: FiraGO-Medium;
  border: .1rem solid transparent;
  border-radius: 5rem;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;

  @include flex(row, center, center);
}

.unico-button__blue {
  background: #116be5;
  color: #fff;

  &:hover {
    color: #116be5;
    border-color: #116be5;
    background: #fff;
  }
}

// ERROR
.unico-error__wrapper {
  border : 3px solid #ff0d56 !important;
}

// ANIMATIONS
@keyframes itemsCountAnimation {
  0% {
    transform : scale(1);
  }
  50% {
    transform : scale(1.3);
  }
  100% {
    transform : scale(1);
  }
}

.animation-for__circle {
  animation-name: itemsCountAnimation;
  animation-duration : .8s;
  animation-fill-mode : both;
}


@media (max-width : 768px) {
  section {
    margin-bottom : 5rem !important;

    &:nth-child(2) {
      margin-bottom : 7rem !important;
    }
  }

  .unico-margin__section {
    margin-bottom : 7rem !important;
  }
}